{% extends '__base.html' %}
{% block header %}
    {% include '_header.html' %}
{% endblock %}
{% load static %}
{% block content %}
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
                    {% block left_sidebar %}
                        {% include '_left_sidebar.html' %}
                    {% endblock %}
				</div>

				<div class="col-sm-9 padding-right">
					<div class="blog-post-area">
						<h2 class="title text-center">Testimonials</h2>
                        <div class="media commnets">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="{% static 'default/images/blog/man-one.jpg' %}" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Annie Davis</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <div class="blog-socials">
                                    <ul>
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    <a class="btn btn-primary" href="">Other Posts</a>
                                </div>
                            </div>
                        </div><!--Comments-->
                        <div class="media commnets">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="{% static 'default/images/blog/man-two.jpg' %}" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Annie Davis</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <div class="blog-socials">
                                    <ul>
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    <a class="btn btn-primary" href="">Other Posts</a>
                                </div>
                            </div>
                        </div><!--Comments-->
                        <div class="media commnets">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="{% static 'default/images/blog/man-three.jpg' %}" alt="">
                            </a>
                            <div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>Janis Gallagher</li>
										<li><i class="fa fa-clock-o"></i> 1:33 pm</li>
										<li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
									</ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <div class="blog-socials">
                                    <ul>
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    <a class="btn btn-primary" href="">Other Posts</a>
                                </div>
                            </div>
                        </div><!--Comments-->
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block footer %}
    {% include '_footer.html' %}
{% endblock %}