{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load i18n %}
{% block product %}
    <div class="product-details"><!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="{{ STATIC_PREFIX }}products/{{ product.named_id|lower }}.png" alt="" />
                <h3>ZOOM</h3>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="product-information"><!--/product-information-->
                <!--img src="images/product-details/new.jpg" class="newarrival" alt="" /-->
                <h2>{% trans product.named_id context 'products' %}</h2>
                <p>Web ID: 1089772</p>
                <!--img src="images/product-details/rating.png" alt="" /-->
                <span>
                    <span>US $59</span>
                    <label>Quantity:</label>
                    <input type="text" value="3" />
                    <button type="button" class="btn btn-fefault cart">
                        <i class="fa fa-shopping-cart"></i>
                        {% trans 'Add to cart' %}
                    </button>
                </span>
                <p><b>Availability:</b> In Stock</p>
                <p><b>Condition:</b> New</p>
                <p><b>Brand:</b> E-SHOPPER</p>
                <a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a>
            </div><!--/product-information-->
        </div>
    </div><!--/product-details-->
{% endblock %}